.Home {
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7rem;
}

.Home h2 {
  margin-bottom: 15px;
  text-align: center;
}

.home_content {
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 55rem) {
  .home_content {
    grid-template-columns: 1fr;
    display: block;
  }

  .home-results {
    min-height: 100vh;
  }

  .home-category {
    margin-top: 50px;
  }
}
