.SearchForm {
  margin: 40px 0px;
  align-self: center;
}

.SearchForm form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchForm input, .SearchForm button, .ratingSelect{
  border: none;
  height: 2rem;
  outline:none;
  font-size:1rem;
}

.SearchForm input{
  border-radius: 0px 10px 10px 0px;
  padding-left: 10px;
}

.SearchForm button{
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px;
  background-color: lightblue;
  cursor: pointer;
}

.ratingSelect{
  margin-left: 15px;
  width: 75px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: lightblue;
  cursor: pointer;
}

