.GifDetails{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #eee;
}

.GifDetails h3{
  margin: 40px 0px;
}

.gifDetails_link{
  margin-bottom: 40px;
  color: #eee;
  text-decoration: none;
  cursor:pointer;
}

.gifDetails_link:hover{
  text-decoration: underline;
}
